@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
  scroll-behavior: smooth;
}

body {
  background-size: 64px 64px;
  background-image: linear-gradient(
      to right,
      rgb(255, 255, 255, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(255, 255, 255, 0.05) 1px, transparent 1px);
}

.fade {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    1000px circle at top,
    rgb(255, 255, 255, 0.06),
    #0e0e0e
  );
}

.profile-border {
  background: radial-gradient(
    200px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.3),
    transparent 40%
  );
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.card::after {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}
